*{
font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header-section,
.section-one {
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
.header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}
.main-title {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.header-section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin: 0;
}

.section-one {
    display: flex;
}
.footer {
    margin-top: auto;
    height: 72px;
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}